<h2>Home page</h2>

<div class="row">
  <div class="col-sm-5">
    <img src="../../assets/images/image-2.jpg" alt="img">
  </div>
  <div class="col-sm-7">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste eligendi consectetur dignissimos doloremque sequi
      assumenda voluptate odit praesentium numquam voluptatum maiores hic deleniti temporibus, molestias cum. Facilis
      unde expedita repudiandae.</p>
    <p>Aut modi magni suscipit voluptas expedita, vero quam error nesciunt sed doloremque, temporibus non dolores
      reprehenderit autem quibusdam aliquid ipsum harum quod quas eos quo. Soluta adipisci ipsam rem quidem.</p>
  </div>
</div>
