<div class="main-content">
  <div class="container">
    <h3 class="main-content-title">Title</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus expedita asperiores doloremque similique
      voluptatum quam culpa quasi non, ad, voluptas vero voluptatibus atque earum inventore numquam ut perferendis iusto
      placeat.
      Modi temporibus facilis exercitationem dolores? Ex delectus veritatis architecto nihil distinctio eius quam at,
      ratione soluta? Asperiores nulla totam maxime corrupti at beatae illum dolore, voluptatem repellendus deserunt!
      Id,
      est.
      Officia enim laborum harum at, perferendis sequi quisquam dicta voluptatibus quasi praesentium dolore incidunt,
      aliquam aliquid commodi voluptate impedit eius dolor aut nemo! Temporibus, aliquam! Ullam sunt placeat possimus
      officia!
    </p>
  </div>
</div>
