<div *ngIf="currentUser">
  <h3>{{ 'headers.edit_user' | translate }}: {{currentUser.first_name}} {{currentUser.last_name}}</h3>

  <form novalidate [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="id">ID</label>
          <input type="text" id="id" class="form-control" formControlName="id">
        </div>

        <div class="form-group">
          <label for="first_name">{{ 'user-list.first_name' | translate }}</label>
          <input type="text" id="first_name" class="form-control" formControlName="first_name">

          <div *ngIf="userForm.get('first_name').hasError('required') && 
    userForm.get('first_name').touched" class="alert alert-danger">
            * required
          </div>
        </div>

        <div class="form-group">
          <label for="last_name">{{ 'user-list.last_name' | translate }}</label>
          <input type="text" id="last_name" class="form-control" formControlName="last_name">

          <div *ngIf="userForm.get('last_name').hasError('required') && 
            userForm.get('last_name').touched" class="alert alert-danger">
            * required
          </div>
        </div>

        <div class="form-group">
          <label for="dob">{{ 'user-list.dob' | translate }}</label>
          <input type="text" id="dob" class="form-control" formControlName="dob">

          <div *ngIf="userForm.get('dob').hasError('required') && 
          userForm.get('dob').touched" class="alert alert-danger">
            * required
          </div>
          <div *ngIf="userForm.get('dob').hasError('pattern') && 
          userForm.get('dob').touched" class="alert alert-danger">
            * Please match the required format (yyyy-mm-dd)
          </div>
        </div>

        <div class="form-group">
          <label for="gender">{{ 'user-list.gender' | translate }}</label>
          <select id="gender" type="text" class="form-control" formControlName="gender">
            <option></option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>

          <div *ngIf="userForm.get('gender').hasError('required') && 
          userForm.get('gender').touched" class="alert alert-danger">
            * required
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="email">{{ 'user-list.email' | translate }}</label>
          <input type="text" id="email" class="form-control" formControlName="email">

          <div *ngIf="userForm.get('email').hasError('required') && 
          userForm.get('email').touched" class="alert alert-danger">
            * required
          </div>
          <div *ngIf="userForm.get('email').hasError('pattern') && 
          userForm.get('email').touched" class="alert alert-danger">
            * Please match the required format (test@example.com)
          </div>
        </div>

        <div class="form-group">
          <label for="phone">{{ 'user-list.phone' | translate }}</label>
          <input type="text" id="phone" class="form-control" formControlName="phone">

          <div *ngIf="userForm.get('phone').hasError('required') && 
          userForm.get('phone').touched" class="alert alert-danger">
            * required
          </div>
          <div *ngIf="userForm.get('phone').hasError('pattern') && 
          userForm.get('phone').touched" class="alert alert-danger">
            * Please match the required format (8-17 numbers)
          </div>
        </div>

        <div class="form-group">
          <label for="website">{{ 'user-list.website' | translate }}</label>
          <input type="text" id="website" class="form-control" formControlName="website">

          <div *ngIf="userForm.get('website').hasError('required') && 
            userForm.get('website').touched" class="alert alert-danger">
            * required
          </div>
          <div *ngIf="userForm.get('website').hasError('pattern') && 
          userForm.get('website').touched" class="alert alert-danger">
            * Please match the required format (https://www.example.com)
          </div>
        </div>

        <div class="form-group">
          <label for="address">{{ 'user-list.address' | translate }}</label>
          <input type="text" id="address" class="form-control" formControlName="address">

          <div *ngIf="userForm.get('address').hasError('required') && 
            userForm.get('address').touched" class="alert alert-danger">
            * required
          </div>
        </div>

        <div class="form-group">
          <label for="status">{{ 'user-list.status' | translate }}</label>
          <select id="status" type="text" class="form-control" formControlName="status">
            <option></option>
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
          </select>

          <div *ngIf="userForm.get('status').hasError('required') && 
          userForm.get('status').touched" class="alert alert-danger">
            * required
          </div>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-primary" [disabled]="userForm.invalid"
      (click)="editUser(currentUser.id)">{{ 'buttons.edit' | translate }}</button>
    <button type="button" class="btn btn-primary"
      (click)="deleteUser(currentUser.id)">{{ 'buttons.delete' | translate }}</button>
    <button class="btn btn-primary" (click)="goBack()">{{ 'buttons.back' | translate }}</button>
  </form>
</div>

<div *ngIf="!currentUser">
  <h3>{{ 'headers.create_user' | translate }}: {{formUpd.first_name}} {{formUpd.last_name}}</h3>

  <form novalidate [formGroup]="userForm2" (ngSubmit)="onSubmit(userForm2)">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="firstName2">{{ 'user-list.first_name' | translate }}</label>
          <input type="text" id="firstName2" class="form-control" formControlName="first_name">

          <div *ngIf="userForm2.get('first_name').hasError('required') && 
    userForm2.get('first_name').touched" class="alert alert-danger">
            * required
          </div>
        </div>

        <div class="form-group">
          <label for="lastName2">{{ 'user-list.last_name' | translate }}</label>
          <input type="text" id="lastName2" class="form-control" formControlName="last_name">

          <div *ngIf="userForm2.get('last_name').hasError('required') && 
            userForm2.get('last_name').touched" class="alert alert-danger">
            * required
          </div>
        </div>

        <div class="form-group">
          <label for="dob2">{{ 'user-list.dob' | translate }}</label>
          <input type="text" id="dob2" class="form-control" formControlName="dob">

          <div *ngIf="userForm2.get('dob').hasError('required') && 
          userForm2.get('dob').touched" class="alert alert-danger">
            * required
          </div>
          <div *ngIf="userForm2.get('dob').hasError('pattern') && 
          userForm2.get('dob').touched" class="alert alert-danger">
            * Please match the required format (yyyy-mm-dd)
          </div>
        </div>

        <div class="form-group">
          <label for="gender2">{{ 'user-list.gender' | translate }}</label>
          <select id="gender2" type="text" class="form-control" formControlName="gender">
            <option></option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>

          <div *ngIf="userForm2.get('gender').hasError('required') && 
          userForm2.get('gender').touched" class="alert alert-danger">
            * required
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="email2">{{ 'user-list.email' | translate }}</label>
          <input type="text" id="email2" class="form-control" formControlName="email">

          <div *ngIf="userForm2.get('email').hasError('required') && 
          userForm2.get('email').touched" class="alert alert-danger">
            * required
          </div>
          <div *ngIf="userForm2.get('email').hasError('pattern') && 
          userForm2.get('email').touched" class="alert alert-danger">
            * Please match the required format (test@example.com)
          </div>
        </div>

        <div class="form-group">
          <label for="phone2">{{ 'user-list.phone' | translate }}</label>
          <input type="text" id="phone2" class="form-control" formControlName="phone">

          <div *ngIf="userForm2.get('phone').hasError('required') && 
          userForm2.get('phone').touched" class="alert alert-danger">
            * required
          </div>
          <div *ngIf="userForm2.get('phone').hasError('pattern') && 
          userForm2.get('phone').touched" class="alert alert-danger">
            * Please match the required format (8-17 numbers)
          </div>
        </div>

        <div class="form-group">
          <label for="website2">{{ 'user-list.website' | translate }}</label>
          <input type="text" id="website2" class="form-control" formControlName="website">

          <div *ngIf="userForm2.get('website').hasError('required') && 
          userForm2.get('website').touched" class="alert alert-danger">
            * required
          </div>
          <div *ngIf="userForm2.get('website').hasError('pattern') && 
          userForm2.get('website').touched" class="alert alert-danger">
            * Please match the required format (https://www.example.com)
          </div>
        </div>

        <div class="form-group">
          <label for="address2">{{ 'user-list.address' | translate }}</label>
          <input type="text" id="address2" class="form-control" formControlName="address">

          <div *ngIf="userForm2.get('address').hasError('required') && 
          userForm2.get('address').touched" class="alert alert-danger">
            * required
          </div>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-primary" [disabled]="userForm2.invalid"
      (click)="createUser()">{{ 'buttons.add_user' | translate }}</button>
    <button class="btn btn-primary" (click)="goBack2()">{{ 'buttons.back' | translate }}</button>
  </form>
</div>
