.header {
  justify-content: space-between;
}

.card {
  padding: 0;
}

.accordion {
  width: 100%;
}

.btn-edit {
  margin-right: 25px;
}

.side-container {
  width: 100%;
  height: 100%;

  .sidenav {
    width: 30%;
  }

  .main-content {
    margin-top: 10px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
