<div *ngIf="currentUser" class="col-sm-8">
  <h3>{{currentUser.first_name}} {{currentUser.last_name}}</h3>

  <table class="table table-striped table-bordered">
    <tbody>
      <tr>
        <th>ID</th>
        <td>{{currentUser.id}}</td>
      </tr>
      <tr>
        <th>{{ 'user-list.first_name' | translate }}</th>
        <td>{{currentUser.first_name}}</td>
      </tr>
      <tr>
        <th>{{ 'user-list.last_name' | translate }}</th>
        <td>{{currentUser.last_name}}</td>
      </tr>
      <tr>
        <th>{{ 'user-list.gender' | translate }}</th>
        <td>{{currentUser.gender}}</td>
      </tr>
      <tr>
        <th>{{ 'user-list.dob' | translate }}</th>
        <td>{{currentUser.dob}}</td>
      </tr>
      <tr>
        <th>{{ 'user-list.email' | translate }}</th>
        <td>{{currentUser.email}}</td>
      </tr>
      <tr>
        <th>{{ 'user-list.phone' | translate }}</th>
        <td>{{currentUser.phone}}</td>
      </tr>
      <tr>
        <th>{{ 'user-list.website' | translate }}</th>
        <td>{{currentUser.website}}</td>
      </tr>
      <tr>
        <th>{{ 'user-list.avatar' | translate }}</th>
        <td>{{currentUser.avatar}}</td>
      </tr>
      <tr>
        <th>{{ 'user-list.about' | translate }}</th>
        <td>{{currentUser.about}}</td>
      </tr>
      <tr>
        <th>{{ 'user-list.address' | translate }}</th>
        <td>{{currentUser.address}}</td>
      </tr>
      <tr>
        <th>{{ 'user-list.status' | translate }}</th>
        <td>{{currentUser.status}}</td>
      </tr>
    </tbody>
  </table>

  <button class="btn btn-primary" (click)="goBack()">{{ 'buttons.back' | translate }}</button>
</div>
